
  <div class="navbar navbar-toggleable-sm flex-row align-items-center">

        <!-- navbar collapse -->
        <div class="mx-auto">
          <!-- link and dropdown -->
          <ul class="nav navbar-nav flex-row">
            <li class="nav-item">
              <a class="nav-link" href>
                <span class="nav-text">Video</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href>
                <span class="nav-text">Music</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href>
                <span class="nav-text">Photo</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href>
                <span class="nav-text">Blog</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href>
                <span class="nav-text">Shop</span>
              </a>
            </li>
          </ul>
          <!-- / link and dropdown -->
        </div>
        <!-- / navbar collapse -->

  </div>
</div>
