<div class="row padding">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="box">

      <div class="box-header">
        <h2>Editer un bien</h2>
        <small>Remplissez les champs pour editer le bien.</small>
      </div>

      <div class="box-body dker">
        <div class="padding">

          <form ui-jp="parsley">
            <div class="box">
              <div class="box-body">

                <%= render 'form', bien: @bien %>

              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Show', @bien %> |
<%= link_to 'Back', biens_path %>
