<div class="row padding">
  <div class="col-xs-12 col-md-8 offset-md-2">
    <div class="box">

      <div class="box-header">
        <h2>Ajouter un bailleur</h2>
        <small>Remplissez les champs pour ajouter un nouveau bailleur.</small>
      </div>


          <form ui-jp="parsley">
            <div class="box">
              <div class="box-body">

                <%= render 'form', bailleur: @bailleur %>

              </div>
            </div>
          </form>
    </div>
  </div>
</div>

