
<div class="navbar">
	<%= render "blocks/navbar_brand_text" %>
</div>
<div flex-no-shrink>
	<%= render "blocks/aside_top_1" %>
</div>
<div class="nav-border b-{{app.setting.theme.primary}}" flex>
	<%= render "blocks/nav_0" %>
</div>
<div flex-no-shrink>
	<%= render "blocks/aside_bottom_0" %>
</div>
