
<div class="navbar">
	<%= render "blocks/navbar_brand" %>
</div>
<div flex-no-shrink>
	<%= render "blocks/aside_top_2" %>
</div>
<div class="nav-stacked nav-active-{{app.setting.theme.primary}}" flex>
	<%= render "blocks/nav_0" %>
</div>
<div flex-no-shrink>
	<%= render "blocks/aside_bottom_0" %>
</div>
