<!-- brand -->
<a class="navbar-brand">
	<%= image_tag "logo.svg"%>
	<%= image_tag("logo.png", alt: ".", class:"hide")%>
	<span class="hidden-folded inline v-m">
		{{app.name}}
		<span class="text-xs text-muted _300 block m-t-xs tagline">awesome uikit</span>
	</span>
</a>
<!-- / brand -->
