<!-- brand -->
<a class="navbar-brand">
	<%= image_tag "logo.white.svg"%>
	<%= image_tag("logo.png", alt: ".", class:"hide")%>
	<span class="hidden-folded inline">{{app.name}}</span>
</a>
<!-- / brand -->
