<% provide(:title, "Qui sommes nous") %>
<% content_for :body_class, 'page-us template-page-v2 parent-page-about parent-template-page-v2' %>

<header class="static__banner static__banner--about">
  <div class="static__banner--container">
    <div class="static__content">
      <h1>Vous allez aimer
        <br>gérer vos biens
      </h1>
    </div>
  </div>
</header>


<section class="ajax-page__container">
  <div class="ajax-page__content">
    <article class="page__layout page__layout--two-thirds static__content">
      <h2>Qui sommes-nous?
      </h2>
      <p>Nous sommes Rntapp et nous administrons une plateforme de gestion de bien en ligne. Nous vous aidons simplement dans votre gestion quotidienne et nous le faisons bien.
      </p>
      <p>Chaque jour, nous mettons de la passion, du professionnalisme et de la patiente pour vous accompagner et pour que votre gestion soit aussi simple que le clic de votre souris.
      </p>

      <h2>Notre mission
      </h2>
      <p>Nous voulons proposer une autre manière de gérer des biens et des locataires. Commes vous, nous avons longtemps eu besoin de se sentir rassuré par un administrateur de biens. Nous pensions pouvoir apporter une solution différente. Nous avons donc créer rntapp.com.
      </p>
      <h2>Notre qualité de service
      </h2>
      <p>Etre simple, être honnête et être ouvert. Si vous avez une remarque, ou une question, vous pouvez nous envoyer un e-mail à contact@rntapp.fr, et nous tenterons de vous répondre du mieux que nous pourrons.
      </p>
    </article>
  </div>
</section>

