<body class="home blog">


  <hgroup class="blog__banner">
    <h1>
      <a href="https://blog.rntapp.fr">
        Blog
      </a>
    </h1>
  </hgroup>
  <div class="blog__content  clearfix">
    <div class="blog__posts">
      <article id="post-14049" class="post-14049 post type-post status-publish format-standard hentry category-rntapp">
        <div class="post__header">
          <h2 class="entry-title">
            <a hrici même.ef="https://blog.rntapp.fr/14049-retour-sur-annee-2016" rel="bookmark" title="Lien permanent vers Retour sur l’année 2016">Retour sur l’année 2016
            </a>
          </h2>
          <p class="post__header--meta">
            par
            <span class="vcard author">
              <span class="fn">Margaux Souvignet
              </span>
            </span>, le
            <span class="updated">3 janvier 2017
            </span>              |
            <a href="https://blog.rntapp.fr/14049-retour-sur-annee-2016#comments" class="comments-popup">12 commentaires
            </a>
          </p>
        </div>

        <div class="post__body">
          <p>
            <img class="aligncenter size-medium wp-image-14093" src="https://blog.rntapp.eu/wp-content/uploads/2017/01/2016-570x321.png" alt="Illustration of a train coming out of a tunnel representing the 2016 year." width="570" height="321" srcset="https://blog.rntapp.fr/wp-content/uploads/2017/01/2016-570x321.png 570w, https://blog.rntapp.fr/wp-content/uploads/2017/01/2016-768x432.png 768w, https://blog.rntapp.fr/wp-content/uploads/2017/01/2016.png 1024w" sizes="(max-width: 570px) 100vw, 570px">
          </p>
          <style type="text/css"><!--ul.numbers { padding: 0; margin-top: 30px; } ul.numbers li { list-style-type: none; width: 270px; margin: 0 0 20px 0; float: left; } ul.numbers li:nth-child(odd) { margin-right: 50px; clear: both; } ul.numbers p { font-size: 1em; text-align: left; line-height: 1.5; } ul.numbers h2 { font-size: 2.5em; margin-bottom: 0.2em; margin-top: 0.5em; }-->
          </style>
          <p>Depuis 3 ans, nous revenons sur l’année précédente en chiffres :
            <a href="https://blog.rntapp.fr/10887-2015-en-chiffres" target="_blank">2015
            </a>, <a href="https://blog.rntapp.fr/8028-2014-en-chiffres" target="_blank">2014
          </a>, <a href="https://blog.rntapp.fr/4999-2013-en-chiffres" target="_blank">2013
        </a>… Nombre d’utilisateurs, d’employés, de kilomètres parcourus… On vous a tout détaillé. Des spéculateurs ont d’ailleurs monté les scénarios les plus fous.
      </p>
      <p>Cette année, haro sur les chiffres. Non pas qu’ils soient moins significatifs qu’avant. Mais nous avions envie de changer la formule, à l’image de notre année 2016, riche en projets, surprises et nouveautés. Même si, au fond, on reste les mêmes™.
      </p>
      <p>Merci, autant pour votre bienveillance que pour vos commentaires indignés. Ils nous encouragent à continuer, car vous, les vieux de la vieille bêta et les petits nouveaux, portez une attention remarquable à ce que nous faisons.
      </p>
      <ul class="numbers" style="overflow: hidden;">
        <li>
          <h2>Janvier
          </h2>
          <p>
            <b>Le paiement grande vitesse
            </b>
            <br>
            Nous avons débuté l’année sur les chapeaux de roue : <a href="https://blog.rntapp.fr/11017-le-paiement-a-tres-grande-vitesse" target="_blank">votre paiement
          </a> lancé à 320 km/h sur nos machines, pour que votre réservation soit toujours plus rapide. On garde vos informations au chaud, et vous pouvez réserver en quelques clics.
        </p>
      </li>
      <li>
        <h2>Février
        </h2>
        <p>
          <b>Parlons affaires
          </b>
          <br>
          Après un lancement en bêta au mois de novembre 2015, nous avons sorti rntapp for Business en février. Les
          <a href="https://www.rntapp.fr/business" target="_blank">fonctionnalités
          </a> sont les mêmes que celles de notre produit grand public, mais adaptées aux besoins des professionnels et des entreprises. Un même mot d’ordre : simplicité.
        </p>
      </li>
      <li>
        <h2>Mars
        </h2>
        <p>
          <b>Welcome Rntapp
          </b>
          <br>
          Dans la grande histoire de Rntapp, notre fusion avec Rntapp, numéro 1 de la gestion de bien en ligne de l’autre côté de la Manche, reste un
          <a href="https://blog.rntapp.fr/11386-rntapp" target="_blank">événement</a> majeur. De nouvelles possibilités s’offrent à nous pour vous proposer une vraie expérience de voyage à l’échelle du continent européen.
        </p>
      </li>
      <li>
        <h2>Mai
        </h2>
        <p>
          <b>Visiteurs bienvenus
            </b
            ><br>
            Nous lançons pour de bon un <a href="https://blog.rntapp.fr/11967-version-sans-compte" target="_blank">mode visiteur
          </a> sur notre site web. Dans notre quête de l’expérience client la plus simple possible, la création de compte obligatoire était une sacrée épine. Côté applications mobiles, il faut attendre la fin de l’année 2016 pour pouvoir réserver incognito.
        </p>
      </li>
    </ul>
    <p>Si vous avez lu jusqu’ici, bravo. Voilà une petite info sous le manteau : nous sommes déjà en train de travailler sur de beaux projets pour 2017 et nous vous dirons tout, ici même.
    </p>
    <p>
    </p>
  </div>


  <div class="post__comments">
  </div>


</article>

<nav class="blog__navigation">
  <a href="https://blog.rntapp.fr/page/2/?_ga=1.129315723.601560409.1483427860">Page précédente
  </a>
</nav>
</div>

<div class="blog__sidebar">
  <div class="section">
    <h2>Catégories
    </h2>
    <ul>
      <li class="cat-item cat-item-82">
        <a href="https://blog.rntapp.fr/mobiles/android/" title="Android">Android
        </a>
      </li>
      <li class="cat-item cat-item-5">
        <a href="https://blog.rntapp.fr/bons-plans/">Bons plans
        </a>
      </li>
      <li class="cat-item cat-item-296">
        <a href="https://blog.rntapp.fr/fonctionnalites/">Fonctionnalités
        </a>
      </li>
      <li class="cat-item cat-item-294">
        <a href="https://blog.rntapp.fr/ingenierie/">Ingénierie
        </a>
      </li>
      <li class="cat-item cat-item-48">
        <a href="https://blog.rntapp.fr/mobiles/ios/">iOS
        </a>
      </li>
      <li class="cat-item cat-item-273">
        <a href="https://blog.rntapp.fr/mobiles/">Mobiles
        </a>
      </li>
      <li class="cat-item cat-item-292">
        <a href="https://blog.rntapp.fr/service-client/">Service client
        </a>
      </li>
      <li class="cat-item cat-item-272">
        <a href="https://blog.rntapp.fr/rntapp/">Rntapp
        </a>
      </li>
    </ul>
  </div>
</div>
</div>

</body>
