<% provide(:title, "Bons plans") %>
<% content_for :body_class, 'page-affiliates template-page-v2 promotions-loaded' %>


<header class="static__banner static__banner--promotions">
  <div class="static__banner--container">
    <div class="static__content">
      <h1>Besoin d'une petite fleur?
      </h1>
    </div>
  </div>
</header>
<section class="page__container">
  <div class="page__content">
    <article class="page__layout static__content">
    <p>Pour votre confort, nous organisons régulièrement des petites offres flash, des promotions et autres bons plans qui permettent de gérer à moindres frais.
      </p>
      <article class="page__layout page__layout--two-thirds static__content">
        <p>
          <span class="hr">
          </span>
        </p>
        <h2>Contact
        </h2>
        <p>Si la page est vide, envoyez nous un petit mail à
          <a href="mailto:contact@rntapp.fr">contact@rntapp.fr
          </a>, nous feront un petit effort c'est promis!
        </p>
        <p>Vous pouvez aussi faire un tour sur
          <a href="https://www.facebook.com/rntapp.fr">notre page Facebook
          </a> ou jeter un œil à ce que nos clients disent de nous sur
          <a href="/testimonials">Twitter
          </a>.
        </p>
      </article>.
    </article>
  </div>
</section>
