<div class="banner">
  <div class="banner-content">
    <h1>Désolé mais je ne suis pas encore en ligne....</h1>
    <br>
    <h2>Promis nous sommes sur le pont pour remédier à ça.</h2>
    <br>
    <h3>Mais si ça pose un problème, il ne faut pas hésiter une seconde à nous crier dessus!</h3>
    <br>
    <%= link_to t(".contact", default: "C'est par ici"), contact_path, class: "button" %>
  </div>
</div>
