<% provide(:title, "Cookies") %>
<% content_for :body_class, 'page-cookies' %>


  <header class="static__banner static__banner--default">
    <div class="static__banner--container">
      <div class="static__content">
        <h1>Rntapp et les Cookies
        </h1>
      </div>
    </div>
  </header>
  <section>
    <article class="page__layout static__content">
      <h1 id="le-role-des-cookies">Le rôle des cookies
      </h1>
      <p>Rntapp dépose des petits fichiers (appelés cookies) sur votre ordinateur pour y recueillir des informations sur votre navigation.
      </p>
      <p>Ces cookies servent à:</p>
      <ul>
        <li>mesurer et analyser votre utilisation de notre site afin qu’il réponde au mieux à vos besoins ;
        </li>
        <li>garder en mémoire vos choix et habitudes de navigation pour que vous n’ayez pas à les reformuler à chaque fois.
        </li>
      </ul>
      <p>Les cookies ne servent pas à identifier votre personnalité, vos opinions ou votre taille de chaussures.
      </p>
      <p>Vous avez dû voir un bandeau d’avertissement sur <a href="/">notre page d’accueil</a> avant que nous déposions un cookie sur votre ordinateur. Nous nous passerions bien de ce bandeau, mais <a href="http://www.cnil.fr/vos-obligations/sites-web-cookies-et-autres-traceurs/">c’est la loi
      </a>.
    </p>
    <h2 id="la-loi-est-dure-les-cookies-trop-cuits-aussi">La loi est dure...
    </h2>
    <p>La
      <a href="http://www.cnil.fr/vos-obligations/sites-web-cookies-et-autres-traceurs/">loi
      </a> nous oblige à vous informer sur le rôle des cookies. Nous devons aussi obtenir votre consentement pour les utiliser. Et nous sommes enfin tenus de vous fournir un moyen de les refuser.
    </p>
    <h1 id="comment-nous-utilisons-les-cookies">Comment nous utilisons les cookies
    </h1>
    <p>Les cookies de services tiers doivent faire l’objet d’une petite présentation, puisqu’ils requièrent votre consentement. Cette liste peut être amenée à changer, selon l’évolution des tiers.
    </p>
    <h2 id="mesurer-lutilisation-du-site-google-analytics">Mesurer l’utilisation du site (Google Analytics)
    </h2>

    <p>Nous faisons ces analyses pour faire en sorte que le site réponde à vos besoins et pour nous aider à l’améliorer.
    </p>
    <p>Google Analytics conserve des informations sur:
    </p>
    <ul>
      <li>les pages que vous visitez sur
        <a href="/">rntapp.fr
        </a> ;
      </li>
      <li>le temps que vous passez sur chacune de ces pages ;
      </li>
      <li>les liens qui vous ont permis d’arriver sur notre site ;
      </li>
      <li>ce sur quoi vous cliquez pendant que vous visitez le site.
      </li>
    </ul>
    <p>Nous ne recueillons pas vos informations personnelles (comme votre nom, votre adresse ou la couleur de vos cheveux) dans Google Analytics. Nous n’autorisons pas non plus Google à utiliser ou partager nos données d’analyse avec d’autres données détenues par Google.
    </p>
    <p>Google Analytics utilise les cookies suivants:
    </p>
    <h3 id="universal-analytics">Universal Analytics
    </h3>
    <table>
      <thead>
        <tr>
          <th>Nom
          </th>
          <th>Expiration
          </th>
          <th>Rôle
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>_ga
          </td>
          <td>2 ans
          </td>
          <td>Sert à compter combien de personnes visitent rntapp.com en distinguant les utilisateurs qui sont déjà venus sur le site
          </td>
        </tr>
        <tr>
          <td>_gat
          </td>
          <td>10 minutes
          </td>
          <td>Utilisé pour surveiller la fréquence à laquelle les requêtes de page web sont effectuées
          </td>
        </tr>
      </tbody>
    </table>
    <p>Vous pouvez
      <a href="https://tools.google.com/dlpage/gaoptout">refuser les cookies Google Analytics
      </a>.
    </p>
    <h2 id="se-connecter-via-un-compte-tiers-facebook-et-google">Se connecter via un compte tiers (Facebook et Google)
    </h2>
    <p>Nous utilisons
      <a href="https://developers.facebook.com/docs/plugins/login-button">Facebook Login
      </a> et
      <a href="https://developers.google.com/+/web/signin/?hl=fr">Google+ Sign-in
      </a> pour vous permettre d’accéder à votre compte Rntapp en utilisant votre compte Facebook ou Google+.
    </p>
    <p>De leur côté, Google et Facebook utilisent des cookies d’authentification pour conserver vos identifiants (sous forme chiffrée) et ainsi déterminer à quand remonte votre dernière connexion.
    </p>
    <h3 id="facebook">Facebook
    </h3>
    <p>Nous ne contrôlons pas ce que Facebook écrit dans ses propres cookies.
    </p>
    <table>
      <thead>
        <tr>
          <th>Nom
          </th>
          <th>Expiration
          </th>
          <th>Rôle
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>c_user
          </td>
          <td>À la fermeture du navigateur
          </td>
          <td>Facebook s’en sert pour l’identification en y notant votre numéro d’utilisateur
          </td>
        </tr>
        <tr>
          <td>csm
          </td>
          <td>À la fermeture du navigateur
          </td>
          <td>
            Sert pour l’identification en complément de c_user et permet de n’envoyer certains cookies sur votre ordinateur que si
            <a href="https://fr.wikipedia.org/wiki/HyperText_Transfer_Protocol_Secure">votre connexion est sécurisée
            </a>
          </td>
        </tr>
        <tr>
          <td>datr
          </td>
          <td>2 ans
          </td>
          <td>Créé quand un navigateur accède pour la première fois à Facebook et sert ensuite à détecter d’éventuelles comportements de connexion vaguement honnêtes
          </td>
        </tr>
        <tr>
          <td>fr
          </td>
          <td>2 ans
          </td>
          <td>Sert à noter des informations sur votre navigateur et sur votre identité Facebook
          </td>
        </tr>
        <tr>
          <td>lu
          </td>
          <td>2 ans
          </td>
          <td>Comme data, ce cookie est créé lorsqu’un navigateur accède pour la première fois à Facebook et sert notamment à pré-remplir votre adresse email dans le formulaire de connexion de Facebook
          </td>
        </tr>
        <tr>
          <td>xs
          </td>
          <td>À la fermeture du navigateur
          </td>
          <td>
            Sert à vous protéger contre
            <a href="https://fr.wikipedia.org/wiki/Cross-Site_Request_Forgery">l’utilisation implicite
            </a> de votre compte Facebook par une personne mal intentionnée
          </td>
        </tr>
        <tr>
          <td>s
          </td>
          <td>À la fermeture du navigateur
          </td>
          <td>Le cookie s sert à ...
          </td>
        </tr>
      </tbody>
    </table>
    <p>Vous pouvez en savoir plus sur
      <a href="https://www.facebook.com/about/privacy/">la politique de confidentialité de Facebook
      </a>.
    </p>
    <h3 id="google">Google
    </h3>
    <p>On espère que vous aimez les majuscules, parce que c’est ce que Google utilise pour nommer ses cookies.
    </p>
    <table>
      <thead>
        <tr>
          <th>Nom
          </th>
          <th>Expiration
          </th>
          <th>Rôle
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ACCOUNT_CHOSEr
          </td>
          <td>2 ans
          </td>
          <td>Vous permet de choisir le compte Google avec lequel vous souhaitez vous connecter à Rntapp—non, votre adresse Hotmail d’adolescent n’est pas éligible
          </td>
        </tr>
        <tr>
          <td>GALX
          </td>
          <td>À la fermeture du navigateur
          </td>
          <td>Permet à Google de vous authentifier quand vous cliquez sur le bouton rouge de connexion à notre site
          </td>
        </tr>
        <tr>
          <td>GAPs
          </td>
          <td>2 ans
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
    <h2 id="publicit-en-ligne-google-et-microsoft">Publicité en ligne (Google et Microsoft)
    </h2>
    <p>Quand vous faites une recherche sur Google ou sur Bing (Microsoft), certains résultats sont des pubs. Pour que vous cliquiez sur ces pubs, Google et Microsoft ont intérêt à vous afficher des pubs pertinentes. Pour cela, ils utilisent leurs propres cookies, qui servent à retenir vos préférences de navigation pour mieux vous cibler ensuite.
    </p>
    <h3 id="google-1">Google
    </h3>
    <p>Google utilise des cookies pour mieux cibler les publicités affichées dans ses résultats de recherche et ainsi faire monter les enchères auprès des annonceurs.
    </p>
    <table>
      <thead>
        <tr>
          <th>Nom
          </th>
          <th>Expiration
          </th>
          <th>Rôle
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>NID
          </td>
          <td>6 mois
          </td>
          <td>
            Contient vos préférences Google, comme votre langue, vos recherches les plus récentes et sert essentiellement à la
            <a href="https://adwords.google.com/">pub Adwords
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <p>Vous pouvez
      <a href="http://www.google.com/settings/ads/anonymous">désactiver le ciblage Google
      </a>.
    </p>
    <h3 id="microsoft">Microsoft
    </h3>
    <p>Au même titre que Google, Microsoft utilise des cookies pour mieux vous cibler sur son moteur de recherche (Bing) et ses sites (MSN).
    </p>
    <table>
      <thead>
        <tr>
          <th>Nom
          </th>
          <th>Expiration
          </th>
          <th>Rôle
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>MUID
          </td>
          <td>2 ans
          </td>
          <td>Sert à suivre vos recherches Bing, votre localisation et vos interactions avec les services Microsoft afin d’optimiser les campagnes de celles et ceux qui font de la pub sur Bing et MSn
          </td>
        </tr>
        <tr>
          <td>Mr
          </td>
          <td>6 mois
          </td>
          <td>Même objectif que MUID mais plus éphémère
          </td>
        </tr>
      </tbody>
    </table>
    <p>Vous pouvez
      <a href="https://choice.microsoft.com/fr-fr/opt-out">désactiver le ciblage Microsoft
      </a>.
    </p>
    <h2 id="ameliorer-rntapp">Améliorer Rntapp
    </h2>
    <p>Nous utilisons un seul cookie sur notre site. Il est fait maison et ne sert qu’à nos employés. Il ne requiert donc pas votre consentement d’après la loi. Nous vous le présentons quand même.
    </p>
    <table>
      <thead>
        <tr>
          <th>Nom
          </th>
          <th>Expiration
          </th>
          <th>Rôle
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ct_session
          </td>
          <td>1 an
          </td>
          <td>Si vous travaillez chez Rntapp, il sert à l’identification
          </td>
        </tr>
      </tbody>
    </table>
    <h1 id="en-cas-dallergie-aux-cookies">En cas d’allergie aux cookies
    </h1>
    <p>Si vous ne souhaitez pas que votre ordinateur reçoive des cookies, vous pouvez lui demander de jouer les videurs baraqués pour qu’il vous avertisse lorsqu’un site internet cherche à déposer des cookies sur votre machine.
    </p>
    <p>Chaque navigateur gère le filtrage des cookies à sa manière
      :</p>
      <ul>
        <li>
          <a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies">Firefox
          </a>
        </li>
        <li>
          <a href="https://support.google.com/chrome/answer/95647?hl=fr">Chrome
          </a>
        </li>
        <li>
          <a href="http://windows.microsoft.com/fr-FR/internet-explorer/delete-manage-cookies#ie=ie-11">Explorer
          </a>
        </li>
        <li>
          <a href="https://support.apple.com/kb/PH19214?viewlocale=fr_FRlocale=fr_FR">Safari
          </a>
        </li>
      </ul>
      <p>Une alternative au réglage du navigateur consiste à installer une extension, directement dans le navigateur, qui sera capable de bloquer la majorité des cookies tiers. La plus connue de ces extensions s’appelle <a href="https://fr.wikipedia.org/wiki/Ghostery">Ghostery
      </a>. Mais
      <a href="https://www.eff.org/privacybadger">Privacy Badger
      </a> marche bien aussi.
    </p>
  </article>
</section>

