


<section id="docsSearch">

  <h1>Aide de Rntapp
  </h1>



  <form action="/search" method="GET" id="searchBar" autocomplete="off">

    <input type="text" name="query" title="search-query" class="search-query" placeholder="Trouvez les réponses à toutes vos questions..." value="">
    <button type="submit">
      <i class="icon-search lp">

      </i>
      <span>Recherche
      </span>
    </button>
    <div id="serp-dd" style="display:none;">
      <ul class="result">

      </ul>
    </div>

  </form>

</section><!--/docsSearch-->
<section id="contentArea" class="container-fluid">



  <!-- Site has only one collection -->


  <section class="most-pop-articles two-col">
    <h2>Questions fréquentes
    </h2>
    <ul class="popArticles">
      <li>
        <a href="/article/19sont-ils-au-meme-prix">
          <i class="icon-article-doc">

          </i>
          <span>Les reges sont elles les memes....
          </span>
        </a>
      </li>
      <li>
        <a href="/article/14-recherche-sans-resultats-aucun-trajet-a-cet-horaire">
          <i class="icon-article-doc">

          </i>
          <span>Recherches qui ne fonctionnent pas
          </span>
        </a>
      </li>
      <li>
        <a href="/article/17-comment-le-classique-cartonne">
          <i class="icon-article-doc">

          </i>
          <span>Recuperer des sauvegardes
          </span>
        </a>
      </li>
    </ul>
  </section><!-- /most-popular-articles -->
  <hr class="sep">







  <section class="category-list">


    <a class="category" id="category-3" href="/category/3-gestion-du-profil">
      <h3>Gestion du profil
      </h3>
      <p class="article-count">

        <span class="notranslate">16
        </span> questions

      </p>
    </a><!-- /category -->



    <a class="category" id="category-4" href="/category/4-recherche">
      <h3>Gestion de locataire
      </h3>
      <p class="article-count">

        <span class="notranslate">12
        </span> questions

      </p>
    </a><!-- /category -->



    <a class="category" id="category-5" href="/category/5-panier">
      <h3>Administrateurs
      </h3>
      <p class="article-count">

        <span class="notranslate">5
        </span> questions

      </p>
    </a><!-- /category -->



    <a class="category" id="category-6" href="/category/6-paiement">
      <h3>Paiement
      </h3>
      <p class="article-count">

        <span class="notranslate">17
        </span> questions

      </p>
    </a><!-- /category -->



    <a class="category" id="category-516" href="/category/516-bons-dachat-et-cheques-vacances">
      <h3>Reductions
      </h3>
      <p class="article-count">

        <span class="notranslate">6
        </span> questions

      </p>
    </a><!-- /category -->



    <a class="category" id="category-8" href="/category/8-retrait">
      <h3>Garant
      </h3>
      <p class="article-count">

        <span class="notranslate">15
        </span> questions

      </p>
    </a><!-- /category -->



    <a class="category" id="category-7" href="/category/7-apres-vente">
      <h3>Service client
      </h3>
      <p class="article-count">

        <span class="notranslate">12
        </span> questions

      </p>
    </a><!-- /category -->



    <a class="category" id="category-9" href="/category/9-rntapp">
      <h3>Rntapp
      </h3>
      <p class="article-count">

        <span class="notranslate">11
        </span> questions

      </p>
    </a><!-- /category -->



    <a class="category" id="category-10" href="/category/10-transporteurs-et-tarifs">
      <h3>Tarifs
      </h3>
      <p class="article-count">

        <span class="notranslate">21
        </span> questions

      </p>
    </a><!-- /category -->



    <a class="category" id="category-299" href="/category/299-rntapp-for-business">
      <h3>Rntapp for Business
      </h3>
      <p class="article-count">

        <span class="notranslate">14
        </span> questions

      </p>
    </a><!-- /category -->


  </section><!-- /category-list -->




