<% provide(:title, "Jobs") %>
<% content_for :body_class, 'page-jobs template-page-v2' %>
  <header class="static__banner static__banner--jobs">
    <div class="static__banner--container">
      <div class="static__content">
        <h1>Travailler chez Rntapp
        </h1>
        <h2>Aidez-nous à créer le meilleur service de gestion de biens
        </h2>
      </div>
    </div>
  </header>
  <section class="page__container">
    <div class="page__content">
      <article class="page__layout page__layout--two-thirds static__content">
        <h2 id="chez-rntapp">Chez Rntapp
        </h2>
        <p>Nous avons un objectif simple mais ambitieux: créer une plateforme de gestion, de la manière la plus efficace possible. Nous sommes convaincus qu’il devrait être aussi facile de gérer ses biens que de regarder ses mails.
        </p>
        <p>Rntap a été fondé par trois personnes obsédées par la simplicité. Notre organisation est très simple: ceux qui prennent les décisions liées au produit sont ceux qui le construisent. Nous sommes une start-up de 3 personnes et nous souhaitons grandir bien et vite. Votre travail aura une influence directe et visible sur le développement de notre entreprise.
        </p>
        <p>Nous offrons à tous nos salariés:
        </p>
        <ul>
          <li>un salaire fixe compétitif (+ part variable) ;
          </li>
          <li>une mutuelle très avantageuse ;
          </li>
          <li>du temps ;
          </li>
          <li>du fun ;
          </li>
          <li>des titres restaurant ;
          </li>
          <li>des fruits, du café et du thé à volonté.
          </li>
        </ul>
        <p class="empty">
        </p>
        <h2 id="sur-quoi-voulez-vous-travailler">Sur quoi voulez-vous travailler ?
        </h2>
        <p class="jobs__category">Ingénierie Système
        </p>
        <ul class="jobs__list">
          <li class="active">
            <a href="#administrateur-systeme" data-toggle="pill">Administrateur Système (H/F)
            </a>
          </li>
        </ul>
        <p class="jobs__category">Support Client
        </p>
        <ul class="jobs__list">
          <li>
            <a href="#french-wow" data-toggle="pill">Spécialiste expérience client —France
            </a>
          </li>
        </ul>
        <p class="jobs__category">Ingénierie logicielle
        </p>
        <ul class="jobs__list">
          <li>
            <a href="#ingenieur-full-stack-guichet-hf" data-toggle="pill">Ingénieur Full-stack (H/F)
            </a>
          </li>
          <li>
            <a href="#android-engineer" data-toggle="pill">Ingénieur Android (H/F)
            </a>
          </li>
          <li>
            <a href="#backend-api" data-toggle="pill">Ingénieur Backend API (H/F)
            </a>
          </li>
          <li>
            <a href="#backend" data-toggle="pill">Ingénieur Backend (H/F)
            </a>
          </li>
          <li>
            <a href="#frontend-engineer" data-toggle="pill">Ingénieur Front-end (H/F)
            </a>
          </li>
          <li>
            <a href="#ios-engineer" data-toggle="pill">Ingénieur iOS (H/F)
            </a>
          </li>
        </ul>
        <p class="jobs__category">Produit
        </p>
        <ul class="jobs__list">
          <li>
            <a href="#chef-de-produit-senior-hf" data-toggle="pill">Chef de Produit Sénior-International – H/F
            </a>
          </li>
        </ul>
        <span class="hr">
        </span>
        <div id="administrateur-systeme" class="jobs__pane pill-pane active">
          <h1 style="text-align: center;">Administrateur Système
          </h1>
          <h2 id="you">Vous
          </h2>
          <p>Nous recherchons une personne qui sait que tout pourrait être automatisé, que toute tâche répétitive peut être industrialisée. Vous connaissez les avantages et les inconvénients de chaque
            <em>*aas
            </em>et vous êtes très pragmatique. Vous savez comment conduire des changements dans un contexte culturel diversifié où chacun a son mot à dire. Vous avez une grande sensibilité concernant la sécurité des systèmes que vous administrez. Vous aimez partager vos connaissances sur ces sujets complexes avec tous vos collègues.
          </p>
          <p class="empty">
          </p>
          <h2 id="rle">Rôle
          </h2>
          <p>Vous aurez la responsabilité de faire évoluer une infrastructure hautement redondante qui doit fonctionner 365/7/24, avec un volume d’affaire en forte croissance chaque jour.
            <br>
            Vous travaillerez en étroite collaboration avec les développeurs et vous devrez leur fournir tous les outils dont ils ont besoin pour tester et déployer leur travail. Vous ferez évoluer tous les outils de monitoring nécessaires pour analyser les performances de nos applications. Vous contribuerez à industrialiser les plate-formes interne et de production, en accompagnant la croissance de l’entreprise.
          </p>
          <p class="empty">
          </p>
          <h2 id="comptences">Compétences
          </h2>
          <ul>
            <li>2+ ans d’expérience ;
            </li>
            <li>Bonne maîtrise de l’orthographe et de la grammaire (dans votre langue maternelle) ;
            </li>
            <li>Bon anglais écrit et parlé ;
            </li>
            <li>Sens de l’organisation et capacité à hiérarchiser les tâches de manière efficace.
            </li>
          </ul>
          <p class="empty">
          </p>
          <h2 id="quelques-plus">Quelques plus
          </h2>
          <ul>
            <li>Vous connaissez : Ansible, Fabric, PostgreSQL, Gitlab, OpenLDAP, Graylog2 / ElasticSearch, DNS, iptables, AWS, CloudFormation ou Terraform ;
            </li>
            <li>Expérience de travail précédente avec un fournisseur de cloud public ;
            </li>
            <li>Savoir comment configurer Xorg pour la configuration de votre bureau à triple écrans.
            </li>
          </ul>
          <p class="empty">
          </p>
          <h2 id="postuler">Postuler
          </h2>
          <p>Expliquez-nous pourquoi vous êtes la personne idéale pour ce poste en envoyant un email à
            <a href="mailto:contact@rntapp.com">contact@rntapp.com
            </a>.
          </p>
          <p>Nous ne sommes pas des inconditionnels du CV. Décrivez-nous plutôt vos projets, vos expériences et ce que vous pensez apporter à notre équipe. Un lien vers votre compte GitHub ou Twitter pourra nous être aussi très utile.
          </p>
        </div>

      <div id="ingenieur-full-stack-guichet-hf" class="jobs__pane pill-pane">
        <h1 style="text-align: center;">Ingénieur Full-stack (Guichet) (H/F)
        </h1>
        <h2>Vous
        </h2>
        <p>Vous ne supportez pas voir quelqu’un s’escrimer avec un outil mal conçu. Vous avez de la peine quand vous voyez des collègues utiliser des interfaces d’un autre temps. Vous vous morfondez quand vous imaginez qu’un jour, oui un jour, un ingénieur a vraiment pensé que cliquer sur dix boutons et remplir cinq champs pour faire de la compta était une bonne idée.
        </p>
        <p>Vous savez que le bien-être de vos collègues repose sur la simplicité de leurs outils, et les améliorer est exactement ce qui vous motive au quotidien. Vous êtes d’ailleurs capable d’écouter et d’observer attentivement votre équipe pour en tirer des solutions qui répondent à leurs attentes et anticipent leurs besoins futurs.
        </p>
        <p>Vous aimez vous tenir informé de ce que font les équipes autour de vous. Vous aimez toucher à tout, vous plonger dans du code dont vous n’aviez pas entendu parler la veille, et vos développements ne sont remarquables que par leur qualité.
        </p>
        <p>Si vous vous reconnaissez, nous avons un poste pour vous.
        </p>
        <p class="empty">
        </p>
        <h2>Rôle
        </h2>
        <p>En tant qu’ingénieur logiciel dédié au service client, vous aurez la charge d’aider une équipe de quinze passionné-e-s qui répondent par e-mail à plus d’une centaine de clients par jour et qui traitent une grande variété de problèmes, tant techniques que pratiques.
        </p>
        <p>Vous aurez autant l’occasion de plonger dans les outils internes pour les rendre plus pratiques et plus complets, que dans le produit pour éradiquer les problèmes des clients à la source. Dans les deux cas, toute l’équipe du service client saura apprécier votre regard d’expert, vos idées nouvelles et vous enverra des GIFs animés, pour vous remercier de leur simplifier le travail.
        </p>
        <p>De manière générale, nous avons plein de projets pour nous rendre la vie plus facile. Choisissez-en un et faites-vous plaisir. Les sujets sont variés et leur impact sera clef tant pour vos collègues que pour le produit, et donc le client final.
        </p>
        <p class="empty">
        </p>
        <h2>Compétences
        </h2>
        <ul>
          <li style="text-align: justify;">Bonne maîtrise de l’orthographe et de la grammaire,
          </li>
          <li style="text-align: justify;">Anglais correct à l’écrit et à l’oral,
          </li>
          <li style="text-align: justify;">Autonomie, auto-gestion et capacité à prioriser le travail,
          </li>
          <li style="text-align: justify;">Familiarité avec l’état de l’art du développement (tests, revues de code, intégration continue, documentation de l’architecture, etc.),
          </li>
          <li style="text-align: justify;">Bonne connaissance d’un langage dynamique (Python, PHP, Ruby, etc) et des problématiques du développement côté serveur.
          </li>
        </ul>
        <p class="empty">
        </p>
        <h2>Postuler
        </h2>
        <p>Expliquez-nous pourquoi vous êtes la personne idéale pour ce poste en envoyant un email à
        <a href="mailto:contact@rntapp.com">contact@rntapp.com
        </a>. Nous ne sommes pas des inconditionnels du CV. Décrivez-nous plutôt vos projets, vos expériences et ce que vous pensez apporter à notre équipe. Un lien vers votre compte GitHub ou Twitter pourra nous être aussi très utile.
      </p>
    </div>
    <div id="android-engineer" class="jobs__pane pill-pane">
      <h1 style="text-align: center;">Ingénieur Android – H/F
      </h1>
      <h2>Vous
      </h2>
      <p>Vous n’avez peut-être pas encore deviné le nom de la prochaine version d’Android–même si vous avez votre petite idée–mais vous êtes passionné·e par tout ce qui touche à Android et son écosystème.
      </p>
      <p>Vous avez déjà participé au développement de plusieurs applications publiées sur le Play Store. Les gros projets Android ne vous font pas peur. Au contraire, ils vous motivent. Vous savez vous occuper de tous les aspects d’une app, de la persistance des données à la communication client/serveur, en passant par l’interface utilisateur. Vous êtes autonome et créatif·ve. Vous aimez les interfaces alignées au pixel près, êtes obsédé·e par les tests et intransigeant·e sur la qualité du code.
      </p>
      <p>Si vous vous reconnaissez, nous avons un poste pour vous.
      </p>
      <p class="empty">
      </p>
      <h2>Rôle
      </h2>
      <p>Au sein de l’équipe mobile, votre mission sera de développer et publier l’application Rntapp sur tous les appareils Android. Vous travaillerez avec les ingénieurs backend pour intégrer et faire évoluer nos APIs internes. Vous serez aussi amené·e à travailler avec l’équipe produit et le service client pour faire en sorte que notre produit et ses fonctionnalités soient les plus adaptés aux demandes et besoins de nos utilisateurs.
      </p>
      <p>Vous maintiendrez un standard élevé de qualité de code, en suivant les bonnes pratiques et les processus d’intégration continue. Vous garderez à l’esprit les valeurs de Rntapp dans votre travail et vos missions quotidiennes : usabilité, performance et excellence du service client.
      </p>
      <p class="empty">
      </p>
      <h2>Compétences
      </h2>
      <ul>
        <li>Vous avez plusieurs années d’expérience en développement Java et Android ;
        </li>
        <li>Vous connaissez sur le bout des doigts le SDK Android et les Google Play Services ;
        </li>
        <li>Vous êtes familier du processus de distribution sur le Google Play Store ;
        </li>
        <li>Vous accordez une grande importance à l’orthographe et la grammaire ;
        </li>
        <li>Vous parlez et écrivez Anglais convenablement ;
        </li>
        <li>Vous êtes autonome et savez prioriser le travail ;
        </li>
        <li>Vous aimez suivre de près l’évolution des bonnes pratiques du développement (tests, revues de code, intégration continue, etc) et vous vous formez régulièrement sur ces sujets.
        </li>
      </ul>
      <p class="empty">
      </p>
      <h2>Postuler
      </h2>
      <p>Expliquez-nous pourquoi vous êtes la meilleure personne pour ce poste en envoyant un email à
      <a href="mailto:contact@rntapp" target="_blank">contact@rntapp
      </a>.
    </p>
    <p>Nous ne sommes pas des inconditionnels du CV. Décrivez-nous plutôt vos projets, vos expériences et ce que vous pensez apporter à notre équipe. Un lien vers votre compte GitHub ou Twitter pourra nous être aussi très utile.
    </p>
  </div>

<p class="jobs__button">
  <a class="ct-button" href="mailto:contact@rntapp">Postuler
  </a>
</p>
</article>
</div>
</section>

