<% provide(:title, "Informations légales") %>
<% content_for :body_class, 'page-legal-information template-page-v2' %>

<header class="static__banner static__banner--default">
  <div class="static__banner--container">
    <div class="static__content">
      <h1>Informations légales
      </h1>
    </div>
  </div>
</header>
<section class="page__container">
  <div class="page__content">
    <article class="page__layout static__content">
      <p>The Good Life SAS, exerçant également sous le nom de Rntapp.
        <br>
        <strong>Adresse
        </strong>
        : 17 Rue de la vanne, 92120 Montrouge
        <br>
        <strong>Téléphone (numéro non-surtaxé)
        </strong>
        : 06 95 17 95 44
        <br>
        <strong>E-mail
        </strong>
        :
        <a href="mailto:contact@rntapp.com" target="_blank">contact@rntapp.com
        </a>
      </p>
      <p>
        Société par actions simplifiées au capital de: 65 000 €.
        <br>
        Enregistrée au registre du commerce et des sociétés de Montrouge sous le numéro 823 104 377.
        <br>
        Numéro individuel d’identification d’assujetti à la TVA : FR 51 823 104 377.
        <br>
        Directeur de publication : Anthony Besson.
        <br>
        Prestataire d’hébergement : Heroku.
        <br>
      </p>
    </article>
  </div>
</section>
