<% provide(:title, "Données personnelles") %>
<% content_for :body_class, "page-privacy-policy template-page-v2" %>



<header class="static__banner static__banner--default">
  <div class="static__banner--container">
    <div class="static__content">
      <h1>Politique de confidentialité
      </h1>
      <h2>Respect des données personnelles
      </h2>
    </div>
  </div>
</header>
<section class="page__container">
  <div class="page__content">
    <article class="page__layout static__content">
      <p>Nous prenons la question des données personnelles très au sérieux, car elle mérite de l’être. Nous ne revendrons donc pas vos données à des marchands mal intentionnés.
      </p>
      <p>Cette page sert à vous fournir des informations indispensables (et d’autres moins indispensables) au regard de la loi, pour que vous sachiez à quoi vous en tenir. Nous expliquons dans les lignes qui suivent comment nous collectons des informations quand vous utilisez notre service. Cette page précise aussi pourquoi nous exploitons et transférons vos données dans le cadre de notre métier.
      </p>
      <h2>INTRODUCTION
      </h2>
      <h3>1. Définitions
      </h3>
      <p>Commençons par définir quelques termes utiles pour la suite.
      </p>
      <ul>
        <li>Quand nous disons « nous » ou « Rntapp », nous nous référons à la société THE GOOD LIFE SAS, qui est soumise au droit français.
        </li>
        <li>Quand nous disons « nous » ou « Rntapp », nous nous référons à la société THE GOOD LIFE SAS, qui est soumise au droit français.
        </li>
        <li>Quand nous disons « vous » ou « utilisateur », nous nous référons aux particuliers ou aux professionnels, qui ont choisi d’utiliser notre service, c’est-à-dire vous.
        </li>
        <li>Quand nous disons « application iOS » ou « application Android », nous nous référons à notre application pour iPhone et iPad d’une part, et à notre application pour Android d’autre part, deux applications que vous pouvez télécharger gratuitement auprès de nos amis Apple et Google.
        </li>
      </ul>
      <h3>2. Consentement
      </h3>
      <p>Quand vous arrivez sur notre site, nous ne pouvons pas sonner à votre porte pour vous faire signer un papier attestant que vous acceptez nos règles en matière de respect des données personnelles. Nous devons faire autrement. Nous considérons donc que si vous utilisez notre service, alors vous comprenez et acceptez que vos données personnelles puissent être collectées, utilisées, stockées et transmises à des tiers comme nous vous l’expliquons ci-dessous. Dit autrement, si vous jouez le jeu, vous en acceptez les règles.
      </p>
      <p>Plus généralement, lorsque nous utilisons vos données pour une raison autre que vous proposer un service que vous avez demandé, respecter nos obligations légales ou répondre à un besoin légitime, nous le faisons avec votre consentement.
      </p>
      <p>Dans certains cas, lorsque cela nous semble s’imposer, nous vous demanderons explicitement de nous donner votre accord pour utiliser vos données — vous vous en rendrez facilement compte car vous aurez sans doute une case à cocher. C’est par exemple le cas au moment de votre inscription sur notre site, puisque nous vous demandons si oui ou non vous souhaitez recevoir nos e-mails promotionnels, ce qui revient ensuite à utiliser votre adresse e-mail pour vous envoyer nos nouveautés.
      </p>
      <h3>3. Changements
      </h3>
      <p>Un jour, ou peut-être une nuit, Rntapp pourrait être amené à changer sa politique en matière de gestion des données personnelles. Si jamais un changement significatif était apporté à cette page, nous mettrions une bannière bien visible sur notre site ou nous vous enverrions un e-mail pour vous prévenir.
      </p>
      <h3>4. Droit de regard
      </h3>
      <p>Vous pouvez consulter, modifier ou demander la suppression de vos données personnelles à tout moment en nous envoyant un e-mail sur l’adresse :
        <a href="mailto:contact@rntapp.fr" target="_blank">contact@rntapp.fr
        </a>.
      </p>
      <h3>5. Fermeture de compte
      </h3>
      <p>Si vous avez créé un compte sur notre site ou dans nos applications, et que vous souhaitez le fermer, écrivez-nous par l’intermédiaire de notre formulaire de contact. Une fois votre demande reçue, nous désactiverons votre compte et nous rendrons vos données inutilisables dans la foulée. Après leur archivage, les anciens comptes sont conservés sur nos serveurs pendant un certain temps, au cas où nous en aurions besoin à titre de preuve, par exemple à la suite d’impayés, de litiges, d’enquêtes judiciaires, ou de tout autre recours permis par la loi.
      </p>
      <h3>6. Questions et contact
      </h3>
      <p>Si vous avez des questions sur le contenu de cette page, nous nous ferons un plaisir de vous répondre. Envoyez-nous un petit mot par e-mail à
        <a href="mailto:contact@rntapp.fr" target="_blank">contact@rntapp.fr
        </a> ou par voie postale à l’adresse :
      </p>
      <address>
        The good life
        <br>
        17 rue de la vanne
        <br>
        92120 Montrouge
        <br>
        FRANCE
      </address>
      <h2>COLLECTE DES DONNÉES PERSONNELLES
      </h2>
      <p>Vos données personnelles peuvent se retrouver sur nos serveurs pour les raisons qui suivent :
      </p>
      <h3>1. Vous nous transmettez directement les données
      </h3>
      <p>Comme leur nom l’indique, les données ne sont pas fabriquées à partir de rien, elles sont données par quelqu’un, et ce quelqu’un c’est vous. Quand vous souscrivez à notre service sur notre site ou nos applications, quand vous écrivez à notre service client, quand vous publiez un commentaire sur notre blog, ou quand vous communiquez avec nous, vous nous transmettez à chaque fois des données personnelles. Ces informations peuvent par exemple contenir votre nom, votre date de naissance, votre sexe, votre adresse e-mail, votre numéro de téléphone, vos informations bancaires. Il en va de même pour toutes les informations que vous nous transmettez sur les sociétés pour lesquels vous souscrivez. Nous considérons d’ailleurs que vous avez informé vos clients et obtenu leur accord dès l’instant que vous nous transmettez leurs données personnelles.
      </p>
      <h3>2. Vous nous transmettez passivement les données
      </h3>
      <p>Sans que vous ne nous les fournissiez directement au travers de formulaires, sont également collectées et traitées des informations sur l’utilisation que vous faites de notre service. Nous parlons alors de collecte passive pour désigner ces données consignées dans un registre, à la manière d’un greffier, pour reconstituer le fil de vos visites. Il s’agit en gros de toutes les traces que vous laissez derrière vous à chaque fois que vous effectuez une action sur notre site. Ce registre peut inclure, par exemple : votre adresse IP, la date de votre dernière connexion, le navigateur utilisé.
      </p>
      <h3>3. Cookies et technologies de suivi
      </h3>
      <p>Quand vous utilisez notre site web, nous déposons des petits fichiers sur votre machine, appelés cookies. Ces cookies peuvent avoir été confectionnés par nos soins, ou par des services tiers dont nous utilisons les outils, comme Google ou Microsoft. Qu’ils proviennent de chez nous ou de services tiers, les cookies servent à mesurer l’utilisation que vous faites de notre site et de nos applications, pour faire des statistiques et améliorer notre interface. Des tiers, comme Google ou Microsoft, peuvent aussi se servir des cookies pour vous proposer de la publicité ciblée lorsque vous utilisez leurs moteurs de recherche respectifs.
      </p>
      <p>Pour en savoir plus sur notre utilisation des cookies, consultez <a href="/cookies">notre page dédiée
      </a>.
    </p>
    <h2>UTILISATION DES DONNÉES PERSONNELLES
    </h2>
    <p>Nous utilisons et transmettons vos données personnelles dans les cas suivants :</p>
    <h3>1. Pour promouvoir notre service et vous envoyer des newsletters
    </h3>
    <p>Par exemple, si vous nous donnez votre adresse e-mail en créant un compte sur notre site, et que vous cochez la case qui permet de recevoir nos messages promotionnels, alors il est possible que nous utilisions votre adresse pour vous envoyer un e-mail de relance quelques jours plus tard, afin de vous rappeler les avantages de notre service. Vous pouvez décider de ne plus recevoir nos e-mails promotionnels en suivant le lien de désabonnement qui figure au bas de ces e-mails.
    </p>
    <h3>2. Pour vous proposer des services adaptés à vos besoins
    </h3>
    <p>Comme tout le monde, pour faire tourner notre service, nous en faisons la promotion avec de la publicité en ligne, hors ligne, et des e-mails marketing envoyés à celles et ceux qui acceptent de les recevoir. Et pour être sûrs que cette promotion ne soit pas complètement à côté de la plaque, nous analysons vos habitudes avec l’aide de services tiers, afin de vous proposer des offres qui s’accordent avec vos centres d’intérêts. Par exemple, nous n’allons pas vous parler des prix de la location en Picardie si vous êtes dans les Bouches Du Rhône dans un e-mail marketing.
    </p>
    <h3>3. Pour encaisser vos paiements
    </h3>
    <p>Lorsque vous achetez notre service, vous nous donnez accès à vos informations bancaires. Nous pouvons alors vous envoyer des e-mails transactionnels, des justificatifs de paiement, des autorisations de prélèvement et des alertes en cas de problème avec votre banque. Nous utilisons un prestataire pour procéder aux paiements de manière sécurisée. Ce prestataire a donc accès à vos informations de facturation lui aussi, mais pas à vos informations de gestion. Pour que vos paiements ne partent pas dans l’espace, nous ne travaillons qu’avec des prestataires dont la fiabilité nous satisfait.
    </p>
    <h3>4. Pour améliorer notre service
    </h3>
    <p>Ceci signifie que nous récoltons des informations sur votre utilisation de notre service par l’intermédiaire de cookies, et que nous partageons ces informations avec des outils d’analyse tiers, comme Google Analytics.
    </p>
    <h3>5. Pour vous dépanner en cas de souci
    </h3>
    <p>Notre service client peut être amené à communiquer avec vous au sujet de votre compte, ou de vos paiements, dans le but de vous venir en aide. Quoi qu’il en soit, nous ne mettons le nez dans votre compte que lorsque vous nous le demandez.
    </p>
    <h3>6. Pour des statistiques internes ou des sondages
    </h3>
    <p>Ce qui signifie que nous pouvons utiliser vos données personnelles pour faire des statistiques sur nos utilisateurs ou vous solliciter pour participer à nos propres sondages.
    </p>
    <h2>PARTAGE DES DONNÉES AVEC DES TIERS
    </h2>
    <p>Nous ne pouvons partager vos données personnelles qu’avec les personnes listés ci-dessous :</p>
    <h3>1. Avec nos prestataires
    </h3>
    <p>Nous utilisons des prestataires pour effectuer (toujours sous nos instructions et uniquement pour notre compte) certaines des actions évoquées ci-dessus. Par exemple, nous utilisons un prestataire pour la gestion sécurisée de vos paiements et nous lui transmettons vos informations de paiement quand vous passez à la caisse.
    </p>
    <h3>2. Avec un éventuel acheteur
    </h3>
    <p>Nous pourrions transférer vos informations dans le cadre d’un rachat, d’une fusion, ou d’une réorganisation de The good life SAS. Dans ce genre de cas, la confidentialité de vos données et vos droits sur ces dernières seront toujours respectés.
    </p>
    <h3>3. Avec les réseaux sociaux
    </h3>
    <p>Quand vous créez un compte sur notre site, vous pouvez vous enregistrer au moyen de votre compte Facebook ou Google. Ces fonctionnalités reposent sur des cookies, qui peuvent au passage récolter des informations sur vous, telles que votre adresse IP, ou les pages que vous visitez. Dans la mesure où nous ne pouvons pas contrôler les actes de Facebook ou de Google, nous ne pouvons pas répondre des informations que vous nous fournissez par l’intermédiaire de ces réseaux sociaux. Vos interactions avec les fonctionnalités proposées par Facebook et Google sont soumises aux politiques de confidentialité de ces sociétés.
    </p>
    <h3>4. Avec personne d’autre
    </h3>
    <p>Nous gagnons notre vie avec notre service, pas en vendant des données. Nous ne vendons donc pas vos données personnelles à des tiers. Si jamais nous venions à modifier significativement notre politique, nous vous tiendrons au courant, car un tel changement aurait de profondes implications pour vous.
    </p>
    <h2>RESPECT DES NORMES
    </h2>
    <h3>1. Données de localisation
    </h3>
    <p>Nous pouvons être amenés à relever et enregistrer votre adresse IP, pour en déduire approximativement votre position géographique.
    </p>
    <h2>SÉCURITÉ
    </h2>
    <p>Nous faisons le maximum pour préserver vos données personnelles et empêcher qu’elles puissent être dérobées, endommagées, ou déformées. Si vous avez créé un compte chez nous en optant pour le duo : nom d’utilisateur et mot de passe, nous vous recommandons de conserver votre mot de passe bien au chaud. Dans la mesure où les détails de vos biens sont des informations sensibles, nous n’avons pas accès à votre mot de passe. Nous ne pouvons donc pas vous envoyer votre mot de passe si vous avez un trou de mémoire. Vous pouvez néanmoins en changer à tout moment sur notre site.
    </p>
    <h3>Lien vers des tiers
    </h3>
    <p>Notre site et nos applications peuvent contenir des liens qui redirigent vers des sites tiers. En suivant ces liens, vous sortez de notre jardin, c’est-à-dire que vous vous soustrayez à notre politique de gestion des données personnelles. Nous ne sommes pas responsables de ce que les sites vers lesquels nous pouvons rediriger font de vos données. Nous vous encourageons donc à bien lire leur politique en la matière avant d’aller traîner sous leurs fenêtres.
    </p>
  </article>
</div>
</section>
