<% provide(:title, "Conditions générales de vente") %>
<% content_for :body_class, "page-terms template-terms" %>


<section>
  <article class="page__layout static__content">
    <h1 style="text-align: center;">Conditions Générales de Vente
    </h1>



    <div class="page-content clearfix">

      <h2> 1.- Définitions
      </h2>
      <p>- Utilisateur désigne tout utilisateur qui navigue, consulte, prend connaissance, réserve, commande ou achète un produit ou une prestation proposé sur le site.
      </p>
      <p>- Produit désigne tout produit sur le site.
      </p>
      <p>- Prestation désigne toute prestation de services proposée sur le site.
      </p>
      <p>- Site désigne l’infrastructure développée par le Vendeur, ici rntapp.com, selon les formats informatiques utilisables sur l’Internet comprenant des données de différentes natures, et notamment des textes, sons, images fixes ou animées, vidéos, bases de données destinées à être consultées par l’Utilisateur pour connaître ses produits et services.
      </p>
      <p>- Internet désigne différents réseaux de serveurs localisés en divers lieux à travers le monde, reliés entre eux à l’aide de réseaux de communication, et communiquant à l’aide d’un protocole spécifique connu sous le nom de TCP/IP.
      </p>


      <h2> 2.- Commande
      </h2>
      <p>L’Utilisateur a la possibilité de passer sa commande à partir du catalogue de formules d’abonnements, en ligne sur le présent site web.
      </p>
      <p>La commande ne peut être enregistrée sur le site que si l’Utilisateur s’est clairement identifié à l’entrée en saisissant son adresse email (courriel), son mot de passe (strictement personnel).
      </p>
      <p>Toute commande vaut acceptation des prix et de la description des produits et services disponibles à la vente.
      </p>
      <p>Toute contestation sur ce point interviendra dans le cadre d’un éventuel échange et des garanties ci-dessous mentionnées.
      </p>
      <p>La validation de la commande par l’Utilisateur vaut acceptation par lui des conditions générales de vente dans leur intégralité.
      </p>
      <p>– Objet et définition de la prestation
      </p>
      <p>Mise à disposition d’un cadre destiné à faciliter la gestion d’un bien immobilier pour un professionnel ou un non-professionnel.
      </p>
      <p>rntapp.com ne peut, ce qui est expressément accepté par l’Utilisateur, encourir aucune responsabilité quelconque relevant de cette gestion, qui lui est propre.
      </p>
      <p>En effet, l’Utilisateur reconnaît et accepte être le seul responsable, et assurer la totalité des conséquences, financières ou autres, relevant de l’ensemble des informations qu’il va être amené à fournir sur rntapp.com.
      </p>
      <p>De même, il assumera toutes conséquences des décisions de gestion que lui seul sera amené à prendre ; rntapp.com ne lui fournissant qu’un cadre informatisé, proposant des outils techniques conçus d’une façon générale, et que l’Utilisateur est seul habilité à utiliser ou non.
      </p>
      <p>En aucune façon, la proposition de moyens, mise d’une façon générale à la disposition de l’Utilisateur, ne peut être considérée comme un conseil ou une recommandation propre à la gestion particulière relevant de la seule volonté et de la seule initiative de l’Utilisateur.
      </p>
      <p>De même, toutes les informations de communications afférentes à des prestataires, partenaires, fournisseurs divers, ainsi que tous modèles d’actes, ne sont communiqués qu’à titre d’information et ne peut en aucune façon engager même au titre d’un devoir de conseil, la société The Good Life ; l’ensemble de cette communication étant exclusive d’un cas particulier et seulement fourni à titre d’indication générale et non adapté à un cas spécifique.
      </p>
      <p>La société The Good Life ne pouvant être considérée comme partie à un contrat passé avec un tiers sur le site.
        <br>
        Le site rntapp.com contient des liens hypertextes vers des sites web gérés par des tiers. The Good Life ne peut exercer aucun contrôle permanent sur ces sites ni assumer aucune responsabilité quant à leur contenu.
      </p>
      <p>Enfin, l’Utilisateur sera bien évidemment seul responsable de la mise en ligne, de l’utilisation et de toutes conséquences de l’ensemble des données qu’il inscrira sur rntapp.com.
        <br>
        rntapp.com ne pouvant porter aucune responsabilité quelconque, à raison de toutes données énoncées (qu’elles soient intentionnelles ou pas).
        <br>
        rntapp.com n’effectuant aucune vérification des données mises en ligne par l’Utilisateur.
      </p>
      <p>De la même manière, The Good Life dégage toute responsabilité de l’utilisation qui sera faite de l’ensemble des documents téléchargés dans sa rubrique nommée «Nos modèles de lettres».
        <br>
        L’Utilisateur s’engage et certifie que l’ensemble des données insérées par lui sur rntapp.com soient exactes, sincères et véritables. Il sera tenu en outre d’actualiser en permanence l’ensemble de ces données, quelle que soit la modification interne.
      </p>
      <p>L’offre promotionnelle consistant à offrir un ou deux mois de gestion gratuite à un nouvel abonné n’est valable que pour le premier logement enregistré sur rntapp.com.
      </p>
      <p>Pour chaque logement supplémentaire enregistré, l’abonné devra, pour utiliser les services rntapp.com, opter pour une des formules d’abonnement payantes proposées sur son catalogue.
      </p>
      <p>Par conséquent, toute fraude constatée (enregistrement d’un logement ayant déjà bénéficié de l’offre promotionnelle à travers un ancien compte utilisateur) sera sanctionnée par la suppression immédiate de ce même logement dans les bases de données rntapp.com.
      </p>
      <p>– Les éléments financiers
      </p>
      <p>1) Conditions d’abonnement :
      </p>
      <p>L’Utilisateur, une fois connecté sur rntapp.com, prendra connaissance des présentes conditions générales de vente. Il les acceptera électroniquement s’il souhaite s’inscrire. Il est à ce sujet précisé que l’Utilisateur ne pourra s’abonner comme il va l’être indiqué ci-dessous qu’après avoir expressément accepté sans réserve les présentes conditions générales.
      </p>
      <p>Au terme de sa période de gratuité, l’Utilisateur devra opter pour une des formules d’abonnement payantes afin de poursuivre la gestion du logement concerné et pour continuer de bénéficier de l’ensemble des services de rntapp.com.
      </p>
      <p>L’abonnement sur rntapp.com est rattaché à un logement et, pour les professionnel à un espace client.
      </p>
      <p>Les formules :
      </p>
      <p>– Mensuelle : Abonnement pour un mois à 3,50 euros TTC par bien.
      </p>
      <p>– Par collaborateur (pour les professionnel): Abonnement pour un mois à 9 euros TTC .</p>

      <p>Les options facultatives :
      </p>
      <p>– Oauth :
        <br>
        Oauth est un service d’authentification des documents que le locataire présente à son bailleur potentiel, service complété si nécessaire d’un «contrôle employeur» (prestation exécutée par téléphone).
        <br>
        Le service est gratuit si l’Utilisateur sélectionne cette option.
      </p>
      <p>– Envoi par mail :
        <br>
        Ce service consiste à demander à rntapp.com de prendre en charge l’envoi, par mail, des avis d’échéances et des quittances de loyers aux locataires des bailleurs qui en auront fait la demande à travers cette option.
        <br>
        Le service est gratuit si l’Utilisateur sélectionne cette option.
      </p>
      <p>– Envoi postal :
        <br>
        Ce service consiste à demander à rntapp.com de prendre en charge l’envoi, par voie postale, des avis d’échéances et des quittances de loyers aux locataires des bailleurs qui en auront fait la demande à travers cette option.
        <br>
        Le service est facturé trois euros par mois et par logement abonné si l’Utilisateur sélectionne cette option*.
      </p>
      <p>2) Le prix :
        <br>
        L’abonnement est consenti et accepté selon le tarif annoncé sur le site. Toutes modifications ultérieures du montant de l’abonnement seront notifiées à l’Utilisateur au travers de rntapp.com. L’Utilisateur, pour renouveler son abonnement, devra avoir validé électroniquement le nouveau tarif.
      </p>
      <p>3) Les modes de paiement
      </p>
      <p>– Carte bancaire
        <br>
        Carte bleue, Visa ou Mastercard.
      </p>
      <p>Tous les abonnements payés par carte bancaire sont renouvelés automatiquement par tacite reconduction et ce tous les mois.
      </p>
      <p>– Chèque bancaire
        <br>
        Pour toutes les Sci, Sci familiales ou autre indivision, ainsi que pour l’ensemble des abonnés ne disposant pas de carte de crédit, rntapp.com accepte le règlement des abonnements par chèque bancaire. L’abonnement correspondant sera effectif à réception du chèque mais sous réserve d’encaissement.
      </p>
      <p>Les chèques doivent être établis à l’ordre de rntapp.com et expédiés à l’adresse suivante :
        <br>
        The Good Life
        <br>
        17 rue de la Vanne
        <br>
        92 Montrouge
      </p>
      <p>– Virement bancaire
        <br>
        Rntapp accepte le règlement des abonnements par virement bancaire. Les abonnements correspondants seront effectif à réception du virement sur le compte bancaire de rntapp.com :
      </p>
      <p>IBAN : FRXXXXXXXXXXXXXXXXXXXXxx
        <br>
        BIC : NXXXX
      </p>
      <p>4) La durée
      </p>
      <p>a) L’abonnement est consenti et accepté pour une durée minimum de 1 mois, prenant effet le 1er jour du mois suivant celui de l’enregistrement de l’abonnement.
      </p>
      <p>Tous les abonnements payés par carte bancaire sont renouvelés automatiquement par tacite reconduction soit tous les mois.
      </p>
      <p>Dans le cadre du renouvellement d’abonnement pour des règlements autres que par carte bancaire, l’Utilisateur doit renouveler au plus tard à la date d’expiration de l’abonnement en cours. Attention, les données de l’Utilisateur ne sont conservées sur les serveurs rntapp.com que sur une période de 60 jours après la date d’expiration d’un abonnement. Au-delà, toutes ces données sont supprimées.
      </p>
      <h2>3.- Force majeure
      </h2>
      <p>La responsabilité de l’une ou l’autre des parties ne pourra être recherchée si l’exécution du contrat est retardée ou empêchée en raison d’un cas de force majeure ou d’un cas fortuit, du fait de l’autre partie ou d’un tiers, qu’il soit partenaire ou non, ou de causes extérieures telles que les conflits sociaux, intervention des autorités civiles ou militaires, catastrophes naturelles, incendies, dégâts des eaux, interruption du réseau de télécommunications ou du réseau électrique.
      </p>
      <p>rntapp.com s’efforce de maintenir accessibles les Services 7 jours sur 7 et 24 heures sur 24, mais peut interrompre l’accès, notamment pour des raisons de maintenance, ou pour toutes autres raisons, notamment techniques.
      </p>
      <p>rntapp.com ne pourra être tenu pour responsable de l’impossibilité d’accéder au site. Une sauvegarde des données est faite chaque jour par le site rntapp.com, nous recommandons toutefois à l’adhérent de sauvegarder toutes ses informations par ailleurs.
      </p>
      <h2>4.- Propriété intellectuelle
      </h2>
      <p>Tous les éléments du site du Vendeur, qu’ils soient visuels ou sonores, y compris la technologie sous-jacente, sont protégés par le droit d’auteur, des marques ou des brevets.
      </p>
      <p>Ils sont la propriété exclusive de rntapp.com. L’Utilisateur qui dispose d’un site Internet à titre personnel et qui désire placer, pour un usage personnel, sur son site un lien simple renvoyant directement au Site, doit obligatoirement en demander l’autorisation écrite et préalable au Site.
      </p>
      <p>Dans tous les cas, tout lien non autorisé, devra être retiré sur simple demande du Site.
      </p>
      <h2>5.- Conditions d’utilisation des services partenaires de Gérerseul.com.
      </h2>
      <p>Pour améliorer continuellement son offre, rntapp.com travaille avec plusieurs partenaires. L’utilisation des services des partenaires de rntapp implique l’adhésion pleine et entière aux propres conditions d’utilisation de chacun de ces partenaires, présents, passés et à venir.
      </p>
      <p>– L’assurance loyers impayés avec « Avor » :
      </p>
      <p>Le pack bailleur individuel est un concept qui, en un seul contrat, permet de couvrir l’ensemble des risque du propriétaire bailleur.
      </p>
      <p>La prestation Rntapp, dans le cadre de son partenariat avec la société Avor, consiste à proposer aux abonnés rntapp les garanties, les tarifs, ainsi qu’un bulletin d’adhésion au «Pack bailleur individuel». Cette prestation de mise en relation, entièrement gratuite, est incluse dans toutes les formules d’abonnement à rntapp.com. L’abonné prend à sa charge le coût de la prestation Insor liée à son bulletin d’adhésion au «Pack bailleur individuel».
      </p>
      <p>Par ailleurs, pour toute souscription du Pack Bailleur Individuel dans les 30 jours qui suivent la confirmation d’un abonnement rntapp.com, l’abonné bénéficie d’un mois d’assurance offert pour le lot concerné. Ce mois gratuit est offert au terme d’une première période d’assurance de 12 mois.
      </p>
      <p>Rntapp n’engage sa responsabilité que sur les fonctionnalités de mise en relation avec ses partenaires depuis le site rntapp.com et ne peut en aucun cas être tenu pour responsable de l’efficacité, du coût, de la crédibilité, de l’intégrité et de la qualité des services de ses partenaires.
      </p>
      <h2>6.- Informatiques et Libertés – Protection des données personnelles
      </h2>
      <p>Les données fournies sur rntapp.com sont confidentielles. Elles ne sont exploitées par rntapp.com qu’à des fins statistiques anonymes ou pour envoyer à ses adhérents des mails d’information provenant de rntapp.com ou de ses partenaires.
      </p>
      <p>Conformément à l’article 16 de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, rntapp.com a effectué en date du 6 Juillet 2009 sous le N° 1374234 une déclaration auprès de la Commission Nationale Informatiques et Libertés (CNIL).
      </p>
      <p>rntapp.com s’engage à garantir un droit d’accès et de rectification aux adhérents sur les données personnelles. Ils peuvent effectuer leur modification sur le site soit par une demande email soit directement en ligne.
      </p>
      <p>Le mot de passe permettant à l’adhérent de s’identifier et de se connecter aux services est personnel et confidentiel. L’adhérent est seul responsable de l’utilisation de son mot de passe.
      </p>
      <p>rntapp.com s’engage à faire ses meilleurs efforts pour protéger, sur son site, les données à caractère personnel, afin notamment d’empêcher qu’elles ne soient déformées, endommagées ou communiquées à des tiers non autorisés conformément à l’article 29 de la loi du 6 janvier 1978.
      </p>
      <p>En revanche, rntapp.com ne peut pas garantir l’internaute contre des risques liés aux spécificités techniques du réseau Internet, c’est-à-dire, que les informations envoyées par rntapp.com via le réseau Internet ne seront pas interceptées par des tiers.
      </p>
      <p>Cependant, en validant son inscription gratuite sur rntapp.com, l’Utilisateur accepte de recevoir des informations et/ou propositions spécifiques à la gestion de son compte de la part de rntapp.com et de ses partenaires exclusifs. Les partenaires exclusifs et impliqués de Gérerseul.com (assurances, diagnostics immobiliers etc …), sont nommés dans l’encadré «Nos services exclusifsrntapp.com».
      </p>
      <h2>7.- Dispositions générales
      </h2>
      <p>7.1.- Intégralité du contrat
        <br>
        Les parties reconnaissent que le présent contrat constitue l’intégralité de l’accord conclu entre elles et se substitue à toutes offre, disposition ou accord antérieurs, écrits ou verbaux.
      </p>
      <p>7.2.- Modification du contrat
        <br>
        Aucun document postérieur, aucune modification du contrat quelle qu’en soit la forme ne produira d’effet entre les parties sans prendre la forme d’un avenant dûment daté et signé par elles.
      </p>
      <p>7.3.- Nullité
        <br>
        Si l’une des stipulations du présent contrat s’avérait nulle au regard d’une règle de droit en vigueur ou d’une décision judiciaire devenue définitive, elle serait alors réputée non écrite, sans pour autant entraîner la nullité du contrat ni altérer la validité de ses autres dispositions.
      </p>
      <p>7.4.- Renonciation
        <br>
        Le fait que l’une ou l’autre des parties ne revendique pas l’application d’une clause quelconque du contrat ou acquiesce à son inexécution, que ce soit de manière permanente ou temporaire, ne pourra être interprété comme une renonciation par cette partie aux droits qui découlent pour elle de ladite clause.
      </p>
      <p>7.5.- Domiciliation
        <br>
        Les parties élisent domicile aux adresses indiquées sur le bon de commande pour l’Utilisateur et à l’adresse figurant sur le site pour le Vendeur.
      </p>
      <p>7.6.- Résiliation
        <br>
        S’il constate un manquement délibéré de la part de l’Utilisateur au respect de l’une des conditions des présentes conditions générales, ou de l’usage des bonnes mœurs, notamment sur les forums, rntapp.com se réserve le droit d’interrompre l’abonnement de l’Utilisateur sans délai et sans justification. rntapp.com procédera alors et exclusivement dans ce cas au remboursement du mois en cours au prorata des jours restants.
      </p>
      <p>7.7.- Fiscalité
        <br>
        La déduction par l’Utilisateur du prix payé pour l’abonnement au service rntapp.com dans le cadre de la déclaration annuelle des revenus, et ce quel que soit le régime fiscal dont relève le ou les biens loués (impôt sur les sociétés ou revenus fonciers), relève de sa seule initiative et de sa propre responsabilité.
      </p>
      <p>7.8.- Droit applicable et différends
        <br>
        Les présentes conditions sont soumises à la loi française. Le tribunal compétent en cas de litige sera celui du lieu de domicile du défendeur ou, au choix du défendeur, du lieu de livraison effective du produit.
      </p>
    </div>
  </article>
</section>
