.clear {
  clear: both
}



.static {
  font-family: SourceSansPro;
  font-size: 12pt;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.blog__content {
  width: 60rem;
  height: 100%;
  margin: auto;
  text-align: left
}

.blog__table {
  display: table
}

.blog__left {
  float: left
}

.blog__right {
  float: right
}

body {
  text-rendering: optimizeLegibility
}

body > .blog__content {
  width: 60rem;
  margin: 0 auto 3.75rem;
  line-height: 1.5rem;
  min-height: 25rem
}

body > .blog__content:after, body > .blog__content:before {
  content: "";
  display: table
}

body > .blog__content:after {
  clear: both
}

h1 {
  font-size: 1.88rem;
  line-height: 1.3rem;
  text-align: center;
  font-weight: bold;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem
}

h2 {
  font-size: 1.25rem;
  line-height: 1.3rem;
  font-weight: bold;
  margin-top: 1.88rem;
  margin-bottom: 0.75rem
}

h3 {
  font-size: 1rem;
  font-weight: bold
}

.subh1 {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.3rem;
  color: rgba(0, 0, 0, 0.8);
  margin-top: -2.5rem;
  margin-bottom: 3.75rem
}

p {
  margin-top: 0.63rem;
  margin-bottom: 0.94rem
}

/*li {
  list-style-type: disc;
  margin: 0 0 0 1.25rem
}*/

a {
  color: #477DB3;
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

a img {
  outline: none;
  border: 0
}

hr {
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  height: 0.06rem
}

.button-paragraph {
  overflow: auto;
  text-align: center
}

.button {
  background-color: #FF5722;
  color: white;
  font-weight: 200;
  font-size: 11pt;
  font-weight: bold;
  margin: 2.5rem auto 0.44rem auto;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.19rem;
  padding: 1.19rem 2.19rem;
  /*box-shadow: 0.44rem 0.44rem 0rem rgba(62, 65, 73, 0.2);*/
  letter-spacing: 0.025rem
}

.button:hover, .button:active {
  background-color: #4c505a;
  text-decoration: none
}

h2.features-title {
  padding-bottom: 0.75rem;
  border-bottom: 0.06rem solid #C2C2BD;
  font-size: 1.5rem;
  text-align: center
}

ul.features {
  padding: 0
}

ul.features li {
  display: inline-block;
  margin: 0 6.19rem 2.5rem 0;
  vertical-align: top;
  width: 15.69rem
}

ul.features li:last-of-type {
  margin-right: 0
}

.col {
  float: left;
  margin-left: 0rem;
  min-height: 1.75rem;
  width: 18.75rem;
  margin-right: 1.88rem
}

.col:first-of-type {
  margin-right: 0rem
}

.d3_image img {
  border: 0.06rem solid #ECE8DD;
  margin: 0 auto;
  display: block;
  margin-top: 1.88rem
}

h3.media-type {
  line-height: 1.38rem;
  font-weight: bold;
  clear: both;
  width: 100%;
  border-bottom: 0.06rem solid #C2C2BD;
  padding-bottom: 0.63rem
}

.centered-paragraph {
  text-align: center
}

.twitter-timeline {
  display: block;
  text-align: center
}

#twitter-widget-0 {
  width: 43.75rem;
  margin: 0 auto;
  margin-top: 1.88rem;
  display: block
}

/******************** Mobile oriented and responsiveness *******************/

@media (max-width: 62.5rem) {
  body > .blog__content, .blog__content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 100%;
    width: 100%;
    padding: 0 0.63rem
  }

  .blog__banner h1 {
    font-size: 2.81rem
  }
}

@media (max-width: 43.13rem) {
  .blog__banner h1 {
    font-size: 2.81rem
  }
}
