
<% content_for (:navbar1) do %>
s
<% end %>

<div class="padding">
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <!-- <i class="material-icons md-24">(.*)</i>   <em>$1</em>-->
      <div class="box nav-active-border b-info">
        <ul class="nav nav-md p-a-sm">
          <li class="mx-auto nav-item inline">
            <a class="nav-link active" href data-toggle="tab" data-target="#tab_1">
              <span class="text-md">Votre compte</span>
            </a>
          </li>
          <li class="mx-auto nav-item inline">
            <a class="nav-link" href data-toggle="tab" data-target="#tab_2">
              <span class="text-md">Votre équipe</span>
            </a>
          </li>
        </ul>
        <div class="tab-content clear b-t p-a-lg">
          <div class="tab-pane active" id="tab_1">
            <div class="box-body p-a-lg">
            <h3>Bienvenue chez vous <%= image_tag "dashboard/waving-hand.png", class: "w-32"%></h3>
              <p>Commençons par ajouter un bailleur</p>
            </div>
              <%= button_to "Ajouter un bailleur", new_bailleur_path, class: "btn-lg btn-block lg-btn lg-raised blue", :method => :get %>
          </div>

          <div class="tab-pane" id="tab_2">
            <div class="box-body">
              <div class="row list-icon">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
