---
layout: base.html
---
  <!-- content -->
  <div id="content" class="app-content box-shadow-z0" role="main">
    <div class="app-header navbar-md white box-shadow">
      <%= render 'blocks/header_4' %>
    </div>
    <div ui-view class="app-body" id="view">

<!-- ############ PAGE START-->
{{> body}}
<!-- ############ PAGE END-->

    </div>
    <div class="dark dk pos-rlt">
      <div class="p-md">
        <%= render 'blocks/footer_1' %>
      </div>
    </div>
  </div>
  <!-- / -->

  <!-- theme switcher -->
  <div id="switcher">
    {{>switcher.html}}
  </div>
  <!-- / -->
